{
  "extends": "@antfu",
  "rules": {
    "no-console": "off",
    "antfu/if-newline": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/consistent-type-imports": "off",
    "@typescript-eslint/indent": "off"
  }
}
